[package]
name = "recprobe"
version = "0.0.0"
edition = "2021"
publish = false

[dependencies]
tabnas-css = { path = "/home/user/css/rs" }
tabnas = { package = "tabnas-parser", path = "/home/user/parser/rs" }

[profile.dev.package.tabnas-parser]
debug-assertions = false

[workspace]
